<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ pageTitle }}</title>
</head>
<body>
    {{> header}}
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate animi ipsum dolore nostrum amet praesentium nisi excepturi explicabo atque voluptate cum pariatur sit voluptatibus, veritatis et architecto iste deleniti corporis.</p>
    {{> footer}}
</body>
</html>